__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.env
.venv
env/
venv/
.DS_Store
*.egg-info/
.vscode/
.idea/
